# OS files
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/

# Backup files
*.bak
*.backup

# Logs
*.log
